# Código de Introducción

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import f1_score, make_scorer
from sklearn.model_selection import KFold, cross_val_score

In [2]:
# Esta es la función que evaluará sus resultados. NO MODIFICAR
def evaluate(model, X, Y):
    strat_k_fold = KFold(n_splits=3, shuffle=True, random_state=2022)
    scorer = make_scorer(f1_score, average='macro')
    return np.mean(cross_val_score(model, X, Y, scoring = scorer, cv = strat_k_fold))

In [3]:
# Leemos los datos
df = pd.read_csv('crime_data.csv', encoding = 'utf-8')

### Columna a predecir: TARGET

# Modificar de aquí en adelante:

In [4]:
df

                X          Y                   DATETIME  TARGET
0      -76.609354  39.323543  2017-08-16 12:00:00+00:00   HURTO
1      -76.422343  38.737998  2018-09-02 14:00:00+00:00   FALSO
2      -76.610679  39.278321  2020-11-13 17:00:00+00:00   HURTO
3      -76.652626  39.266496  2017-01-27 16:00:00+00:00   HURTO
4      -76.543437  39.345509  2021-04-25 02:00:00+00:00  ASALTO
...           ...        ...                        ...     ...
256365 -76.659559  39.346380  2019-03-27 00:00:00+00:00    ROBO
256366 -76.593859  39.290486  2018-09-05 23:00:00+00:00  ASALTO
256367 -76.547029  39.346080  2018-10-26 22:00:00+00:00  ASALTO
256368 -76.683097  39.335443  2021-08-08 16:00:00+00:00  ASALTO
256369 -76.650142  39.279870  2019-09-05 00:00:00+00:00   HURTO

[256370 rows x 4 columns]

In [5]:
# Convertimos DATETIME a un valor numérico para usarlo en el modelo
df['DATETIME'] = pd.to_datetime(df['DATETIME'])
df['DATETIME'] = df['DATETIME'].astype(np.int64)

In [8]:
# Hagamos un modelo de árbol sencillo
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(random_state=42, max_depth=5)
X = df[['X', 'Y', 'DATETIME']]
Y = df['TARGET']
model.fit(X,Y)

DecisionTreeClassifier(max_depth=5, random_state=42)

In [9]:
evaluate(model, X, Y)

0.38548583428582467